@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #d35252, #746fdb); /* gradient color effect for background */
}

.calculator-grid {
    display: grid;
    justify-content: center;
    /* align-items: center; we want to align the content not items */
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 10rem); /* 4 columns */
    grid-template-rows: minmax(12rem, auto) repeat(5, 10rem); /* 5 rows, set max to automatically adjust */
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    border: .1rem solid #fff;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9); /* changing the opacity for hover effect */
}

.span-two {
    grid-column: span 2; /* changes its column spam to 2 */
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 2.3rem;

}

.output .current-operand {
    color: #fff;
    font-size: 3.35rem;
}
